<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h2 class="text-center fontTitle">A la Carta</h2>
  </div>
  <div class="col-4 offset-4">

    <div class="input-group mb-3">

      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">

      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <button type="button" class="btn btn-outline-primary">Primary</button>
  </div>


</div>
